@import "../../../style-config/mixins.scss";
@import "../../../style-config/variable.scss";

.top-navigation-bar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    .logo {
        display: block;
    }

    .navigation {
        display: flex;
        align-items: center;
        .navigation-item {
            color: $white;
            @include typography(18px, 400, 1);
            margin-left: 20px;
            padding: 5px;
            box-shadow: inset 0 0 0 0 $white;
            font-size: 16px;
            justify-content: space-between;
            align-items: center;
            transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
            cursor: pointer;
            &:hover {
                box-shadow: inset 200px 0 0 0 $white;
                color: $black;
            }
        }

        .call-to-action {
            margin-left: 20px;
        }
    }
}
